.actions{
  float: right;
}

.card{
  padding:15px;
  width:33%;
  border-radius: 20px;
  background-color: lightgray;
  margin:10px;
  img{
    margin-left: 30%;
  }
}

.example-form {
  min-width: 150px;
  width: 100%;
  margin-bottom: 15px;
  mat-form-field{
    margin-right: 15px
  }
}