.exampleClass{
  padding: 6px;
  border-radius: 5px;
  width: 51px;
  height: 20px;
  text-align: center;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 20px !important;
}
.table{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.search-page{
padding: 1.5rem;
}


.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}